---
http_interactions:
- request:
    method: get
    uri: https://www.rockauto.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML>\n<html class=\"no-js \" lang=\"en\">\n<head>\n<meta
        http-equiv=\"content-type\" content=\"text/html; charset=windows-1252\">\n<meta
        name=\"description\" content=\"Auto Parts for Your Vehicle at Reliably Low
        Prices. Fast Online Catalog. DIY-Easy. Your Choice of Quality. Full Manufacturer
        Warranty.\">\n<meta name=\"keywords\" content=\",,,,,,\">\n<meta name=\"Classification\"
        content=\"automotive\">\n<meta name=\"abstract\" content=\"Online Store for
        brand name auto parts at warehouse-direct prices...\">\n<meta name=\"robots\"
        content=\"all\">\n<meta http-equiv=\"Content-Security-Policy\" content=\"script-src
        'self' 'unsafe-inline' 'unsafe-eval' *.rockauto.com; base-uri 'self' *.rockauto.com;
        \">\n\n<link rel=\"canonical\" href=\"https://www.rockauto.com\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"en\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"es\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"de\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"fr\" />\n<title>RockAuto
        | All The Parts Your Car Will Ever Need</title>\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/jslib/sprites/desktopsprites-min.css?1782648925\">\n\n<script>\nif(!window.RABoot){var
        no_js=\"no-js\",has_js=\"has-js\",c=document.documentElement.className.replace(no_js,has_js);-1==c.indexOf(has_js)&&(c+=\"
        \"+has_js);document.documentElement.className=c;RABoot=function(){var f=function(){};f.prototype={};f.WaitFor=function(a,b){if(_isset(b)&&\"function\"===typeof
        b){_isarray(a)||(a=[a]);var d={s:a,w:b,a:{}};CheckReady(d)?d.w():Waiting.push(d)}};_isset=function(a){return\"undefined\"!=typeof
        a&&null!=a};_isin=function(a,b[...]
- request:
    method: post
    uri: https://www.rockauto.com/catalog/catalogapi.php
    body:
      encoding: UTF-8
      string: accountemail=<TEST_EMAIL_ENCODED>&accountlogin_php=1&async=1&captchacode=&keepsignin=false&loginaction=login&password=<TEST_PASSWORD_ENCODED>&passwordconfirm=&passwordconfirmdecoy=&passworddecoy=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Log In Successful","email":"<TEST_EMAIL>","loginlinkhtml":"<table
        class=\"graybubble\" cellpadding=\"0\" cellspacing=\"0\" style=\"height: 26px;
        font-size: .9em;\"><tr><td class=\"vmiddle\"><div>Welcome <TEST_EMAIL><span
        style=\"margin-left:10px; margin-right:10px;\"><a class=\"mo-link\" href=\"\/en\/accountactivity\/\"
        onclick=\"AddSerializedCookieDataToHref(this);\">My Account<\/a><\/span> <span
        class=\"mo-link\" onclick=\"doLogoff(this);\">Log Out<\/span><\/div><\/td><\/tr><\/table>","loginlinkicon":"<div
        class=\"mainnavicon\" id=\"loginlinkicon\"><a href=\"#\" class=\"whitelink\"
        onclick=\"doLogoff(this); return false;\"><img width=\"20\" height=\"20\"
        src=\"\/Images\/mobile\/acntWhite.png\" alt=\"\"><div>Log Out<\/div><\/a><\/div>","origurl":"https:\/\/www.rockauto.com\/","act":"login"}'
  recorded_at: Sun, 28 Jun 2026 15:14:31 GMT
- request:
    method: get
    uri: https://www.rockauto.com/en/orderhistory/addorder/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML>
        <html class="no-js " lang="en">
        <head>
        <meta http-equiv="content-type" content="text/html; charset=windows-1252">
        <[...]
