---
http_interactions:
- request:
    method: get
    uri: https://www.rockauto.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML>\n<html class=\"no-js \" lang=\"en\">\n<head>\n<meta
        http-equiv=\"content-type\" content=\"text/html; charset=windows-1252\">\n<meta
        name=\"description\" content=\"Auto Parts for Your Vehicle at Reliably Low
        Prices. Fast Online Catalog. DIY-Easy. Your Choice of Quality. Full Manufacturer
        Warranty.\">\n<meta name=\"keywords\" content=\",,,,,,\">\n<meta name=\"Classification\"
        content=\"automotive\">\n<meta name=\"abstract\" content=\"Online Store for
        brand name auto parts at warehouse-direct prices...\">\n<meta name=\"robots\"
        content=\"all\">\n<meta http-equiv=\"Content-Security-Policy\" content=\"script-src
        'self' 'unsafe-inline' 'unsafe-eval' *.rockauto.com; base-uri 'self' *.rockauto.com;
        \">\n\n<link rel=\"canonical\" href=\"https://www.rockauto.com\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"en\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"es\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"de\" />\n<link
        rel=\"alternate\" href=\"https://www.rockauto.com\" hreflang=\"fr\" />\n<title>RockAuto
        | All The Parts Your Car Will Ever Need</title>\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/jslib/sprites/desktopsprites-min.css?1782562544\">\n\n<script>\nif(!window.RABoot){var
        no_js=\"no-js\",has_js=\"has-js\",c=document.documentElement.className.replace(no_js,has_js);-1==c.indexOf(has_js)&&(c+=\"
        \"+has_js);document.documentElement.className=c;RABoot=function(){var f=function(){};f.prototype={};f.WaitFor=function(a,b){if(_isset(b)&&\"function\"===typeof
        b){_isarray(a)||(a=[a]);var d={s:a,w:b,a:{}};CheckReady(d)?d.w():Waiting.push(d)}};_isset=function(a){return\"undefined\"!=typeof
        a&&null!=a};_isin=function(a,b[...]
- request:
    method: get
    uri: https://www.rockauto.com/en/partsearch/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML>
        <html class="no-js " lang="en">
        <head>
        <meta http-equiv="content-type" content="text/html; charset=windows-1252">
        <meta name="[...]
